@model BookShop.Models.Author
@{
    ViewData["Title"] = "Author Details";
}

<h2>Author Details</h2>
<form asp-action="Details">
    <div class="row form-border">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Name" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.AuthorId" class="btn btn-sm btn-success">Edit</a>
            <input type="submit" asp-action="Index" value="Back to List" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>
